<div class="modal-header">
    <h3>Formulario</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="form">
                <div class="col-12">

                    <label class="form-label"><strong>Descrição</strong></label>
                    <input type="text" formControlName="descricao" class="form-control">
                </div>
                <div class="col-3">

                    <label class="form-label"><strong>Cidade</strong></label>
                    <select formControlName="cidade" class="form-select">
                        <option value="salvador">Salvador</option>
                        <option value="pojuca">Pojuca</option>
                        <option value="feira de santana">Feira de Santana</option>
                        <option value="guarajuba">Guarajuba</option>
                    </select>
                </div>
                <br>
                <div class="col-md-12">

                    <label class="form-label"><strong>Questões</strong></label>
                    <table class="table table-hover">
                        <thead>
                            <th>Id</th>
                            <th>Descrição</th>
                            <th>Requerente</th>
                            <th>Análise</th>
                            <th>Vistoria</th>
                            <th>Fiscalização</th>
                            <th>Obrigatório</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let q of questions">
                                <td>{{q.id}}</td>
                                <td>{{q.name}}</td>
                                <td class="text-center">
                                    <input (change)="checkQuestions()" #checkRequerimentoQuestion type="checkbox" [id]="'ckechRequerimento_'+ q.id" class="form-check-input" [(ngModel)]="q.show" [ngModelOptions]="{standalone: true}" />
                                </td>
                                <td class="text-center">
                                    <input (change)="checkQuestions()" #checkAnaliseQuestion type="checkbox" [id]="'checkAnalise_'+ q.id" class="form-check-input" [ngModelOptions]="{standalone: true}" *ngIf="q.analise" [(ngModel)]="q.analise.show" />
                                </td>
                                <td class="text-center">
                                    <input (change)="checkQuestions()" #checkVistoriaQuestion type="checkbox" [id]="'checkVistoria_'+ q.id" class="form-check-input" [ngModelOptions]="{standalone: true}" *ngIf="q.vistoria" [(ngModel)]="q.vistoria.show" />
                                </td>
                                <td class="text-center">
                                    <input (change)="checkQuestions()" #checkFiscalizacaoQuestion type="checkbox" [id]="'checkFiscalizacao_'+ q.id" class="form-check-input" [ngModelOptions]="{standalone: true}" *ngIf="q.fiscalizacao" [(ngModel)]="q.fiscalizacao.show" />
                                </td>
                                <td class="text-center">
                                    <input (change)="checkQuestions()" #checkRequiredQuestion type="checkbox" [id]="'ckechRequired_'+ q.id" class="form-check-input" [ngModelOptions]="{standalone: true}" [(ngModel)]="q.required" />
                                </td>
                                <!-- <td class="text-center">
                                    <input (change)="checkQuestions()" #checkRequiredQuestion type="checkbox" [id]="'ckechRequired_'+ q.id" class="form-check-input" [checked]="q.required" />
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <button class="btn btn-secondary" (click)="modal.hide()">Cancelar</button>
        <button class="btn btn-success" (click)="confirm()" [disabled]="!f.valid">Salvar</button>
    </div>
</div>